Companiesï¼šProcter&Gamble,Microsoft,AT&T,Ford,General Electric

In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [4]:
tickers = ['PG','MSFT','T','F','GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t]=wb.DataReader(t,data_source='yahoo',start='2015-1-1')['Close']

In [5]:
new_data.tail()

                    PG        MSFT          T     F     GE
Date
2019-12-31  124.900002  157.699997  39.080002  9.30  11.16
2020-01-02  123.410004  160.619995  38.860001  9.42  11.93
2020-01-03  122.580002  158.619995  39.060001  9.21  11.97
2020-01-06  122.750000  159.029999  39.099998  9.16  12.14
2020-01-07  121.989998  157.580002  39.250000  9.25  12.05