In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [3]:
PG = wb.DataReader('PG',data_source = 'yahoo',start = '1995-01-01')

In [4]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,6.400181
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,6.348878
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,6.259093
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,6.271922
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,6.246270
1995-01-10,15.437500,15.187500,15.281250,15.406250,4364000.0,6.323225
1995-01-11,15.593750,15.375000,15.593750,15.375000,3738400.0,6.310401
1995-01-12,15.531250,15.312500,15.375000,15.531250,3307600.0,6.374530
1995-01-13,15.843750,15.531250,15.593750,15.625000,3992800.0,6.560857
1995-01-16,15.968750,15.750000,15.906250,15.750000,3677200.0,6.613344
1995-01-17,15.812500,15.656250,15.718750,15.812500,2437600.0,6.639586
1995-01-18,15.750000,15.437500,15.687500,15.468750,3535200.0,6.495250
1995-01-19,15.406250,15.343750,15.343750,15.406250,2491200.0,6.469004
1995-01-20,15.406250,15.250000,15.406250,15.343750,5130800.0,6.442760
1995-01-23,15.500000,15.187500,15.187500,15.500000,3147200.0,6.508373
1995-01-24,15.531250,15.375000,15.500000,15.468750,2016400.0,6.495250
1995-01-25,15.781250,15.437500,15.500000,15.687500,2802400.0,6.587102
1995-01-26,15.843750,15.687500,15.718750,15.750000,3124000.0,6.613344
1995-01-27,16.250000,15.812500,15.812500,16.187500,6247200.0,6.797049
1995-01-30,16.562500,16.093750,16.125000,16.437500,5226400.0,6.902022
1995-01-31,16.500000,16.281250,16.343750,16.281250,3934800.0,6.836417
1995-02-01,16.343750,15.937500,16.343750,15.968750,3047200.0,6.705199
1995-02-02,16.125000,15.875000,15.968750,16.093750,3810400.0,6.757686
1995-02-03,16.375000,16.187500,16.218750,16.250000,4442800.0,6.823295
1995-02-06,16.625000,16.281250,16.281250,16.625000,4003600.0,6.980753
1995-02-07,16.593750,16.406250,16.562500,16.593750,2380400.0,6.967631
1995-02-08,16.593750,16.406250,16.593750,16.406250,2481200.0,6.888901
1995-02-09,16.468750,16.312500,16.437500,16.375000,2143600.0,6.875778
1995-02-10,16.406250,16.156250,16.343750,16.343750,2445600.0,6.862661
1995-02-13,16.468750,16.312500,16.312500,16.468750,1726400.0,6.915147
...,...,...,...,...,...,...
2019-11-20,122.379997,120.930000,121.419998,122.290001,6480000.0,122.290001
2019-11-21,122.540001,120.279999,121.779999,120.339996,7094100.0,120.339996
2019-11-22,120.610001,119.389999,120.230003,120.290001,4414900.0,120.290001
2019-11-25,120.919998,120.019997,120.440002,120.510002,5134300.0,120.510002
2019-11-26,122.349998,120.410004,120.730003,122.260002,8235200.0,122.260002
2019-11-27,122.440002,120.959999,122.419998,121.760002,3751400.0,121.760002
2019-11-29,122.629997,121.709999,121.989998,122.059998,2927300.0,122.059998
2019-12-02,122.779999,120.959999,121.940002,122.720001,6146200.0,122.720001
2019-12-03,122.959999,121.800003,122.309998,122.949997,6396200.0,122.949997
2019-12-04,124.580002,122.690002,122.750000,124.529999,6857300.0,124.529999
2019-12-05,124.629997,123.660004,124.269997,124.620003,7029200.0,124.620003
2019-12-06,125.449997,123.889999,124.730003,124.190002,7150900.0,124.190002
2019-12-09,125.139999,124.180000,124.309998,124.870003,7452800.0,124.870003
2019-12-10,124.870003,124.120003,124.779999,124.269997,4740100.0,124.269997
2019-12-11,125.269997,124.070000,124.269997,124.660004,4823300.0,124.660004
2019-12-12,125.760002,123.879997,124.779999,124.570000,5897800.0,124.570000
2019-12-13,125.739998,123.790001,124.209999,125.470001,5471600.0,125.470001
2019-12-16,126.349998,125.349998,125.470001,125.559998,8281900.0,125.559998
2019-12-17,125.980003,124.309998,125.589996,125.309998,8832200.0,125.309998
2019-12-18,125.870003,123.690002,125.309998,124.010002,8607600.0,124.010002
2019-12-19,125.199997,123.900002,124.160004,124.919998,6629100.0,124.919998
2019-12-20,126.599998,125.029999,126.150002,125.360001,16250500.0,125.360001
2019-12-23,125.820000,124.690002,125.519997,124.900002,6619500.0,124.900002
2019-12-24,125.309998,124.580002,124.790001,125.220001,2022100.0,125.220001
2019-12-26,125.750000,124.870003,125.099998,125.220001,4760400.0,125.220001
2019-12-27,126.300003,125.389999,125.559998,126.089996,5192000.0,126.089996
2019-12-30,125.980003,124.139999,125.760002,124.470001,3884300.0,124.470001
2019-12-31,124.989998,123.949997,124.430000,124.900002,4798900.0,124.900002
2020-01-02,124.730003,122.940002,124.500000,123.410004,8130800.0,123.410004
2020-01-03,123.529999,121.860001,122.160004,122.580002,7970500.0,122.580002

In [5]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6296 entries, 1995-01-03 to 2020-01-03
Data columns (total 6 columns):
High         6296 non-null float64
Low          6296 non-null float64
Open         6296 non-null float64
Close        6296 non-null float64
Volume       6296 non-null float64
Adj Close    6296 non-null float64
dtypes: float64(6)
memory usage: 344.3 KB

In [6]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-27,126.300003,125.389999,125.559998,126.089996,5192000.0,126.089996
2019-12-30,125.980003,124.139999,125.760002,124.470001,3884300.0,124.470001
2019-12-31,124.989998,123.949997,124.430000,124.900002,4798900.0,124.900002
2020-01-02,124.730003,122.940002,124.500000,123.410004,8130800.0,123.410004
2020-01-03,123.529999,121.860001,122.160004,122.580002,7970500.0,122.580002

In [7]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   6.400181
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   6.348878
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   6.259093
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   6.271922
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   6.246270

In [8]:
PG.tail(6)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-26,125.750000,124.870003,125.099998,125.220001,4760400.0,125.220001
2019-12-27,126.300003,125.389999,125.559998,126.089996,5192000.0,126.089996
2019-12-30,125.980003,124.139999,125.760002,124.470001,3884300.0,124.470001
2019-12-31,124.989998,123.949997,124.430000,124.900002,4798900.0,124.900002
2020-01-02,124.730003,122.940002,124.500000,123.410004,8130800.0,123.410004
2020-01-03,123.529999,121.860001,122.160004,122.580002,7970500.0,122.580002

How can we creat a dataset that contains 5 columns representing the adjusted closing prices of 5 different companies?