In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['PG','BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t,data_source = 'yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                    PG      BEI.DE
Date
2020-01-02  123.410004  105.650002
2020-01-03  122.580002  105.650002
2020-01-06  122.750000  106.000000
2020-01-07  121.989998  105.750000
2020-01-08  122.510002  106.199997

In [4]:
sec_returns = np.log(sec_data/sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
2007-01-10  0.011901 -0.012673
2007-01-11  0.006208  0.007498
2007-01-12  0.005554  0.009295
2007-01-16  0.000000  0.024572
2007-01-17  0.010304 -0.041783
2007-01-18  0.002750  0.011025
2007-01-19  0.008357 -0.002071
2007-01-22 -0.005614 -0.000829
2007-01-23 -0.001218  0.001037
2007-01-24 -0.001982  0.013382
2007-01-25 -0.009047 -0.019619
2007-01-26 -0.000925  0.000208
2007-01-29  0.000308  0.013050
2007-01-30 -0.004480  0.026202
2007-01-31  0.004326  0.032932
2007-02-01  0.007219 -0.010923
2007-02-02  0.000000  0.007035
2007-02-05 -0.002912  0.000973
2007-02-06 -0.008633 -0.004876
2007-02-07 -0.001704 -0.000391
2007-02-08  0.001704 -0.010618
2007-02-09 -0.002480  0.001777
2007-02-12 -0.004199 -0.000987
2007-02-13  0.008536  0.001382
2007-02-14  0.002623  0.012934
...              ...       ...
2019-11-25  0.001827  0.005786
2019-11-26  0.014417  0.015267
2019-11-27 -0.004098  0.000473
2019-11-29  0.002461  0.001891
2019-12-02  0.005393 -0.023418
2019-12-03  0.001872  0.012494
2019-12-04  0.012769  0.006189
2019-12-05  0.000722 -0.013859
2019-12-06 -0.003456  0.008625
2019-12-09  0.005461 -0.009588
2019-12-10 -0.004817 -0.002894
2019-12-11  0.003133  0.003376
2019-12-12 -0.000722 -0.009676
2019-12-13  0.007199  0.000972
2019-12-16  0.000717  0.011589
2019-12-17 -0.001993 -0.011589
2019-12-18 -0.010428  0.007741
2019-12-19  0.007311  0.012452
2019-12-20  0.003516  0.018860
2019-12-23 -0.003676 -0.001870
2019-12-24  0.002559       NaN
2019-12-26  0.000000       NaN
2019-12-27  0.006924       NaN
2019-12-30 -0.012931 -0.000937
2019-12-31  0.003449       NaN
2020-01-02 -0.012001       NaN
2020-01-03 -0.006748  0.000000
2020-01-06  0.001386  0.003307
2020-01-07 -0.006211 -0.002361
2020-01-08  0.004254  0.004246

[3277 rows x 2 columns]

PG

In [6]:
sec_returns['PG'].mean()

0.00031471323615995725

In [7]:
sec_returns['PG'].mean()*250

0.07867830903998932

In [8]:
sec_returns['PG'].std()

0.010949671191253865

In [9]:
sec_returns['PG'].std()*250**0.5

0.1731295029714569

Beiersdorf

In [10]:
sec_returns['BEI.DE'].mean()

0.0002855431759670587

In [11]:
sec_returns['BEI.DE'].mean()*250

0.07138579399176467

In [12]:
sec_returns['BEI.DE'].std()

0.013567226976437313

In [13]:
sec_returns['BEI.DE'].std()*250**0.5

0.2145166938901075

In [14]:
sec_returns[['PG','BEI.DE']].mean()*250

PG        0.078678
BEI.DE    0.071386
dtype: float64

In [15]:
sec_returns[['PG','BEI.DE']].std()

PG        0.010950
BEI.DE    0.013567
dtype: float64

Covariance and Correlation

var() 计算对象的方差

In [16]:
PG_var = sec_returns['PG'].var()
PG_var

0.00011989529919657481

In [17]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00018406964783016836

In [18]:
PG_var_a= sec_returns['PG'].var()*250
PG_var_a

0.029973824799143702

In [19]:
BEI_var_a = sec_returns['BEI.DE'].var()*250
BEI_var_a

0.04601741195754209

cov（）方差 协方差表

In [20]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000120  0.000039
BEI.DE  0.000039  0.000184

In [21]:
cov_matrix_a = sec_returns.cov()*250
cov_matrix_a

              PG    BEI.DE
PG      0.029974  0.009631
BEI.DE  0.009631  0.046017

corr() 相关性

In [22]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.259254
BEI.DE  0.259254  1.000000

this is not the correlation between the price of the two equities!
这两节公司的回报是弱相关的

Calculating Portfolio Risk

equal weigthing scheme

In [23]:
weights = np.array([0.5,0.5])

portfolio variance

In [24]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov()*250,weights))
pfolio_var

0.023813205325279065

portfolio volatility

In [25]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov()*250,weights)))**0.5
pfolio_vol

0.15431527897547626

In [27]:
print(str(round(pfolio_vol,5)*100)+'%')

15.432000000000002%

Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

In [28]:
weights = np.array([0.5,0.5])

In [29]:
weights[0]

0.5

In [30]:
weights[1]

0.5

Diversifiable Risk:

In [32]:
PG_var_a = sec_returns[['PG']].var()*250
PG_var_a

PG    0.029974
dtype: float64

In [34]:
BEI_var_a = sec_returns[['BEI.DE']].var()*250
BEI_var_a

BEI.DE    0.046017
dtype: float64

diversifiable risk = portfolio varanince - weighted annual variances
可分散风险=投资组合方差-加权年方差

In [36]:
dr = pfolio_var - (weights[0]**2*PG_var_a) - (weights[1]**2*BEI_var_a)
dr

BEI.DE   NaN
PG       NaN
dtype: float64

In [37]:
float(PG_var_a)

0.029973824799143702

In [38]:
PG_var_a = sec_returns['PG'].var()*250
PG_var_a

0.029973824799143702

In [39]:
BEI_var_a = sec_returns['BEI.DE'].var()*250
BEI_var_a

0.04601741195754209

In [40]:
dr = pfolio_var - (weights[0]**2*PG_var_a) - (weights[1]**2*BEI_var_a)
dr

0.004815396136107616

In [41]:
print(str(round(dr*100,3))+'%')

0.482%

Non-Diversifiable Risk:

In [42]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.018997809189171447

In [45]:
# 年度加权方差求和 = 组合方差 - 可分散风险
n_dr_2 = (weights[0]**2*PG_var_a)+(weights[1]**2*BEI_var_a)
n_dr_2

0.018997809189171447

In [46]:
n_dr_1 == n_dr_2

True

Expected value of Y:

In [47]:
260800+402*1000

662800