In [1]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
PG = wb.DataReader('PG', data_source='yahoo', start='2015-1-1')

In [4]:
PG.head()

                 High        Low       Open      Close     Volume  Adj Close
Date
2014-12-31  92.550003  91.029999  92.040001  91.089996  5712100.0  77.802925
2015-01-02  91.000000  89.919998  90.839996  90.440002  7251400.0  77.247726
2015-01-05  91.000000  89.849998  90.230003  90.010002  8626100.0  76.880455
2015-01-06  90.559998  89.260002  90.309998  89.599998  7791200.0  76.530251
2015-01-07  90.370003  89.559998  89.940002  90.070000  5986600.0  76.931709

In [5]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-03,123.529999,121.860001,122.160004,122.580002,7970500.0,122.580002
2020-01-06,123.190002,122.379997,122.570000,122.750000,6674400.0,122.750000
2020-01-07,123.209999,121.870003,122.879997,121.989998,7583400.0,121.989998
2020-01-08,123.430000,122.000000,122.190002,122.510002,5385100.0,122.510002
2020-01-09,123.879997,122.510002,122.510002,123.849998,5944000.0,123.849998

## Simple Rate of Return

$$
\frac{P_1 - P_0}{P_0} = \frac{P_1}{P_0} - 1
$$

In [ ]:
PG['simple_return'] = (PG['close'] / PG['close'].shift(1)) - 1
print (PG['simple_return'])