In [6]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [8]:
tickers = ['PG','BEI.DE']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t,data_source='yahoo',start = '2007-1-1')['Adj Close']

In [9]:
sec_data.tail()

                    PG      BEI.DE
Date
2020-01-03  122.580002  105.650002
2020-01-06  122.750000  106.000000
2020-01-07  121.989998  105.750000
2020-01-08  122.510002  106.199997
2020-01-09  123.849998  107.150002

In [10]:
sec_returns = np.log(sec_data/sec_data.shift(1))

In [11]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
2007-01-10  0.011901 -0.012673
2007-01-11  0.006208  0.007498
2007-01-12  0.005554  0.009295
2007-01-16  0.000000  0.024572
2007-01-17  0.010304 -0.041783
2007-01-18  0.002750  0.011025
2007-01-19  0.008357 -0.002071
2007-01-22 -0.005614 -0.000829
2007-01-23 -0.001218  0.001037
2007-01-24 -0.001982  0.013382
2007-01-25 -0.009047 -0.019619
2007-01-26 -0.000925  0.000208
2007-01-29  0.000308  0.013050
2007-01-30 -0.004480  0.026202
2007-01-31  0.004326  0.032932
2007-02-01  0.007219 -0.010923
2007-02-02  0.000000  0.007035
2007-02-05 -0.002912  0.000973
2007-02-06 -0.008633 -0.004876
2007-02-07 -0.001704 -0.000391
2007-02-08  0.001704 -0.010618
2007-02-09 -0.002480  0.001777
2007-02-12 -0.004199 -0.000987
2007-02-13  0.008536  0.001382
2007-02-14  0.002623  0.012934
...              ...       ...
2019-11-26  0.014417  0.015267
2019-11-27 -0.004098  0.000473
2019-11-29  0.002461  0.001891
2019-12-02  0.005393 -0.023418
2019-12-03  0.001872  0.012494
2019-12-04  0.012769  0.006189
2019-12-05  0.000722 -0.013859
2019-12-06 -0.003456  0.008625
2019-12-09  0.005461 -0.009588
2019-12-10 -0.004817 -0.002894
2019-12-11  0.003133  0.003376
2019-12-12 -0.000722 -0.009676
2019-12-13  0.007199  0.000972
2019-12-16  0.000717  0.011589
2019-12-17 -0.001993 -0.011589
2019-12-18 -0.010428  0.007741
2019-12-19  0.007311  0.012452
2019-12-20  0.003516  0.018860
2019-12-23 -0.003676 -0.001870
2019-12-24  0.002559       NaN
2019-12-26  0.000000       NaN
2019-12-27  0.006924       NaN
2019-12-30 -0.012931 -0.000937
2019-12-31  0.003449       NaN
2020-01-02 -0.012001       NaN
2020-01-03 -0.006748  0.000000
2020-01-06  0.001386  0.003307
2020-01-07 -0.006211 -0.002361
2020-01-08  0.004254  0.004246
2020-01-09  0.010878  0.008906

[3278 rows x 2 columns]

PG

In [13]:
sec_returns['PG'].mean()

0.0003179368411753854

In [14]:
sec_returns['PG'].mean()*250

0.07948421029384635

In [15]:
sec_returns['PG'].std()

0.010949554990459565

In [16]:
sec_returns['PG'].std()*250**0.5

0.17312766567557739